@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:wght@300;500;700&display=swap");

:root {
    --background-color: #f5f5f5;
    --accent-color: #AD0001;
    --dark-background: #161515;
    --mid-background: #2F2F2F;
    --light-background: #4F4F4F;
    --text-color: #BD9F63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    margin: 0;
}

a {
    color: var(--text-color);
}

.header, .footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    border-bottom: 2px solid var(--accent-color);
    order: 1;
    z-index: 2;
}

.footer {
    order: 3;
    z-index: 2;
    color: white;
    opacity: 0.5;
    font-size: 0.9rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 5rem;
}

.nav-list li {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

.nav-list li:hover {
    color: var(--text-color);
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url("./assets/backdrop.jpg") center/cover;
    position: relative;
}

#content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.main {
    flex: 1;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    z-index: 2;
}

.hero {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: var(--text-color);
}

.hero h1 {
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}

.hero p {
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #AAAAAA;
}

.button {
    padding: 0.5rem 1rem;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--accent-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container h1 {
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    color: var(--text-color);
}

.title-container p {
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--accent-color);
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.menu-card {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.card-text h2 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.card-text p {
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #AAAAAA;
}   

.menu-card .dish-price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    width: 40%;
    padding: 2rem;
    text-align: center;
  }
  
.about-heading {
    font-size: 1.5rem;
    color: var(--accent-color);
    font-family: 'Josefin Sans', sans-serif;
}

.about-text {
    font-size: 1rem;
    color: white;
    line-height: 1.5;
}
  